.func-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../public/assets/images/termometro.jpg);
    background-repeat: no-repeat;
    background-size: 86em;
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
        width: 30%;
        background-color: #6d0000;
        border-radius: 20px;
        color: beige;


        .individual {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            input {
                background-color: #5e0000;
                outline: none;
                border: none;
                color: beige;
            }
        }
    }
}