.func-salario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../public/assets/images/dolar.jfif');

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
        width: 25%;
        background-color: #008fbb;
        border-radius: 20px;
        color: beige;
        
        .individual {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            
            input {
                background-color: #00b0c7;
                outline: none;
                border: none;
                color: beige;
            }
        }
    }
}