.func-abas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../public/assets/images/posto.jpg);

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
        width: 25%;
        background-color: #dfd9d9;
        border-radius: 20px;
        color: rgb(122, 0, 0);

        .individual {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            input {
                background-color: #949494;
                outline: none;
                border: none;
                color: beige;
            }
        }
    }
}