.func-abas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url(../../../public/assets/images/bilhete-de-circo-de-bilheteria-roxo_611054-646.webp) ;

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
        width: 25%;
        background-color: #b9a701;
        border-radius: 20px;
        color: #910000;
        margin-top: 24em;
        margin-left: 3em;

        .individual {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            input {
                background-color: #910000;
                outline: none;
                border: none;
                color: beige;
            }
        }
    }
}